@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
       font-family: 'Roboto', sans-serif;
}

#logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav ul {
    list-style-type: none;
    display: flex;
    gap: 1.5em;
}

header, footer {
    background: #1F2937;
    padding: 0 40px 0 40px;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.text,a, .i{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    width: 50%;
}

.i {
    padding: 10px;
    background-color: grey;
    text-align: center;
    text-justify: center;
    height: 150px;
}

h3 {
    font-size: 24px;
    color: #F9FAF8;
}

button {
    color: #F9FAF8;
    background-color: #3882F6;
}

h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color:  #1F2937;
}

.links {
    display: flex;
    gap: 16px;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 40px;
}

.i-mid {
    display: flex;
    gap: 5px;
    margin: 10px;
}

.i-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

img {
    border: 2px #3882F6 solid;
    padding: 50px;
    border-radius: 5%;
}

.action {
    display: flex;
    flex-direction: row;
    background-color: #3882F6;
    color: #E5E7EB;
    justify-content: space-around;
    margin: 50px;
}

footer {
    display: flex;
    padding: auto;
    color: #E5E7EB;
    justify-content: center;
}