body {
    margin-left: 100px;
    margin-right: 100px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 16px;
}

.top {
    display: flex;
}